.buildpath
.project
.settings*
deploy*

vendor/bin/
vendor/composer/
vendor/composer/
vendor/autoload.php
vendor/friendsofphp/
vendor/phpunit/
vendor/psr/
vendor/sebastian/
vendor/symfony/
vendor/pdepend/
vendor/phpmd/
vendor/jakub-onderka/
vendor/squizlabs/
vendor/moodlerooms/
vendor/marcj/
vendor/nikic/
vendor/stecman/
vendor/theseer/
vendor/vlucas/
moodle-plugin-ci/