.recording-thumbnail {
    float: left;
    height: 51px;
    padding: 0 4px 0 0;
    transition: transform .2s; /* Animation */
    width: 66px;
}

.recording-thumbnail:hover {
    transform: scale(2.0); /* (200% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.fa-disabled {
    cursor: not-allowed;
    opacity: 0.2;
}

.fa-invisible {
    cursor: not-allowed;
    visibility: hidden;
}
