{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_bigbluebuttonbn/guestlink_view

    This template renders the guest access link widgets on the BBB activity main page.

    Example context (json):
    {
        "url": "https:\/\/moodle.example.org.at\/mod\/bigbluebuttonbn\/guestaccess.php?gid=cXBWfCxKVSgU",
        "nopassword": false,
        "password": 123456,
        "changepassenabled": true,
        "enabled": true
    }
}}
<div class="bigbluebuttonbn-guestlink-view mb-5">
    {{#enabled}}
        <h4>{{#str}}view_guestlink_heading, bigbluebuttonbn{{/str}}</h4>
        <p>{{#str}}view_guestlink_description, bigbluebuttonbn{{/str}}</p>

        <form>
            <div class="form-group row">
                <label for="guestlink" class="col-sm-3 col-form-label">{{#str}}view_guestlink_link_label, bigbluebuttonbn{{/str}}</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text" id="guestlink" class="form-control" readonly value="{{url}}" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="guestlink-copy" title="{{#str}}view_guestlink_link_icon_copy, bigbluebuttonbn{{/str}}" aria-label="{{#str}}view_guestlink_link_icon_copy, bigbluebuttonbn{{/str}}">{{#pix}}t/copy, mod_bigbluebuttonbn{{/pix}}</button>
                        </div>
                    </div>
                </div>
            </div>
            {{#changepassenabled}}
                <div class="form-group row">
                    <label for="password" class="col-sm-3 col-form-label">{{#str}}view_guestlink_password_label, bigbluebuttonbn{{/str}}</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            {{#password}}
                                <input type="text" id="password" class="form-control" readonly value="{{password}}" size="6" />
                            {{/password}}
                            {{#nopassword}}
                                <input type="text" id="password" class="form-control" readonly value="{{#str}}view_guestlink_password_no_password_set, bigbluebuttonbn{{/str}}" size="6" />
                            {{/nopassword}}
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="password-random" title="{{#str}}view_guestlink_password_icon_generate, bigbluebuttonbn{{/str}}" aria-label="{{#str}}view_guestlink_password_icon_generate, bigbluebuttonbn{{/str}}">{{#pix}}t/random, mod_bigbluebuttonbn{{/pix}}</button>
                                <button class="btn btn-outline-secondary" type="button" id="password-copy" title="{{#str}}view_guestlink_password_icon_copy, bigbluebuttonbn{{/str}}" aria-label="{{#str}}view_guestlink_password_icon_copy, bigbluebuttonbn{{/str}}">{{#pix}}t/copy, mod_bigbluebuttonbn{{/pix}}</button>
                                <button class="btn btn-outline-secondary" type="button" id="password-delete" title="{{#str}}view_guestlink_password_icon_delete, bigbluebuttonbn{{/str}}" aria-label="{{#str}}view_guestlink_password_icon_delete, bigbluebuttonbn{{/str}}">{{#pix}}t/trash, mod_bigbluebuttonbn{{/pix}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            {{/changepassenabled}}
            {{^changepassenabled}}
                {{#password}}
                    <div class="form-group row">
                        <label for="password" class="col-sm-3 col-form-label">{{#str}}view_guestlink_password_label, bigbluebuttonbn{{/str}}</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="text" id="password" class="form-control" readonly value="{{password}}" size="6" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="password-copy" title="{{#str}}view_guestlink_password_icon_copy, bigbluebuttonbn{{/str}}" aria-label="{{#str}}view_guestlink_password_icon_copy, bigbluebuttonbn{{/str}}">{{#pix}}t/copy, mod_bigbluebuttonbn{{/pix}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/password}}
            {{/changepassenabled}}
        </form>
    {{/enabled}}
</div>
