{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_bigbluebuttonbn/guestaccess_view

    This template renders the guest access link widgets on the BBB guest access page.

    Example context (json):
    {
        "name": "My BigBlueButton room",
        "guestlinkpassenabled": true
    }
}}
<div class="bigbluebuttonbn-guestaccess-view">
<div class="row shiftrow">
    <div class="col-lg-3 col-md-3 col-sm-3"> </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
            <h4 class="text-left">{{# str }} guestlink_form_join_welcome,bigbluebuttonbn {{/ str }} </h4>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3"> </div>

</div>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3"> </div>
    <div class="col-lg-9 col-md-9 col-sm-9">
        <h1 class="display-3 text-left mb-3 font-weight-400">{{name}}</h1>
        <hr class="mt-2 float-left w-25">
    </div>
</div>
<form action="guestaccess.php" name="guestlinkform" accept-charset="UTF-8" method="get">
{{#guestlinkpassenabled}}
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3"> </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
    {{#guestlinkpasserrormessage}}
        <div class="warning">
            {{# str }} guestlink_form_join_wrong_password,bigbluebuttonbn {{/ str }}
        </div>
    {{/guestlinkpasserrormessage}}
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
        <input type="text" class="form-control" name="guestlinkpass" id="id_guestlinkpass" value="" size="" placeholder="{{# str }} guestlink_form_guestlinkpass_info,bigbluebuttonbn {{/ str }}" >
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5"> </div>
</div>
{{/guestlinkpassenabled}}
<div class="row shiftrow">
    <input type="hidden" name="gid" value="{{gid}}"/>
    <div class="col-lg-3 col-md-3 col-sm-3"> </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
    {{#guestnameerrormessage}}
        <div class="warning">
            {{# str }} guestlink_form_join_no_username,bigbluebuttonbn {{/ str }}
        </div>
    {{/guestnameerrormessage}}
    </div>    <div class="col-lg-2 col-md-2 col-sm-2">
            <input type="text" class="form-control " name="guestname" id="id_guestname" value="{{guestname}}" size="" placeholder="{{# str }} guestlink_form_guestname_info,bigbluebuttonbn {{/ str }}" >
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5"  style="padding-left:0px;">
            <input type="submit" class="btn btn-primary inputbutton" name="joinbutton" id="id_joinbutton" value="{{# str }} guestlink_form_join_button,bigbluebuttonbn {{/ str }}">
    </div>
</div>
</form>
</div>
{{^element.frozen}}
{{#js}}
var validateForm = function() {
    var guestname = document.forms["guestlinkform"]["guestname"].value;
    var guestlinkpass = document.forms["guestlinkform"]["guestlinkpass"];
    if (guestname == "") {
        alert("{{# str }} guestlink_form_noname_warning,bigbluebuttonbn {{/ str }}");
        return false;
    }
    if(guestlinkpass && !guestlinkpass.value) {
        alert("{{# str }} guestlink_form_noaccescode_warning,bigbluebuttonbn {{/ str }}");
        return false;
    }
};

document.getElementById("id_joinbutton").onclick = validateForm;
{{/js}}
{{/element.frozen}}
