{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_bigbluebuttonbn/mobile_view_issues

    This template renders the mobile page.

    Example context (json):
    {
        "issues": [
          {
            "timecreated": "2012-04-23T18:25:43.511Z",
            "grade": 25
          }
        ]
    }

}}
{{=<% %>=}}
<div>
    <ion-list>
        <%#issues%>
            <ion-item>
                <p class="item-heading">{{ <%timecreated%> | coreToLocaleString }}</p>
                <p><%grade%></p>
            </ion-item>
        <%/issues%>
    </ion-list>
</div>