{{=<% %>=}}
<div>
    <ion-list>
        <%#issues%>
            <ion-item>
                <p class="item-heading">{{ <%timecreated%> | coreToLocaleString }}</p>
                <p><%grade%></p>
            </ion-item>
        <%/issues%>
    </ion-list>
</div>