{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_bigbluebuttonbn/notifier_instance_updated.mustache

    This template renders the message regarding the recording updated notification

    Example context (json):
    {
        'activity_url': "http://localhost.com",
        'action': "action",
        'activity_title': 'title',
        'activity_description': 'desc',
        'activity_openingtime': 123455662323,
        'activity_closingtime': 123455662323,
        'activity_owner': "Owner Owner",
        'user_name': "User name",
        'course_name':  "Course name",
    }
}}
<p>{{#str}}pluginname,mod_bigbluebuttonbn{{/str}} <strong><a href="{{activity_url}}" title="{{activity_title}}">{{activity_title}}</a></strong>
    {{#str}}email_body_notification_meeting_has_been,mod_bigbluebuttonbn{{/str}} {{action}}</p>
<p>{{#str}}email_body_notification_meeting_details,mod_bigbluebuttonbn{{/str}}:
</p>
<table style="margin: 5px 0 0 20px;border: 0px">
    <tbody>
    <tr>
        <td style="font-weight:bold;color:#555;">
            {{#str}}email_body_notification_meeting_title,mod_bigbluebuttonbn{{/str}}: {{activity_title}}
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold;color:#555;">
            {{#str}}email_body_notification_meeting_description,mod_bigbluebuttonbn{{/str}}: {{activity_description}}
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold;color:#555;">
            {{#str}}
                email_body_notification_meeting_start_date,mod_bigbluebuttonbn{{/str}}: {{#userdate}}{{activity_openingtime}}, {{#str}}
            strftimedate, core_langconfig {{/str}} {{/userdate}}
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold;color:#555;">
            {{#str}}
                email_body_notification_meeting_end_date,mod_bigbluebuttonbn{{/str}}: {{#userdate}}{{activity_closingtime}}, {{#str}}
            strftimedate, core_langconfig {{/str}} {{/userdate}}
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold;color:#555;">
            {{#str}}email_body_notification_meeting_by,mod_bigbluebuttonbn{{/str}}: {{activity_owner}}
        </td>
    </tr>
    </tbody>
</table>
<p>
<hr/><br/>
{{#str}}email_footer_sent_by,mod_bigbluebuttonbn{{/str}} {{user_name}} {{#str}}email_footer_sent_from,mod_bigbluebuttonbn{{/str}} {{course_name}}
